.modal_input {
  background: #4da16859;
  border-radius: 5px;
  color: #06ea4e;
  padding: 10px 20px;
  font-size: 16px;
  outline: none !important;
  transition: 0.3s all;
}
.modal_input::-webkit-file-upload-button {
  font-family: "Bricolage Grotesque", sans-serif;
  background-color: #4da16859;
  border: 1px solid #06ea4e;
  color: #06ea4e;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}
.modal_input::-webkit-input-placeholder {
  font-family: "Bricolage Grotesque", sans-serif;
  color: #06ea4e;
}
.error {
  font-family: "Bricolage Grotesque", sans-serif;
  width: 100%;
  height: 20px;
  transition: 0.3s all;
  color: red;
}
