@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&family=Roboto:wght@700&display=swap");

body {
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  background-image: url("back.jpg");
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
