.card {
  position: sticky;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 8%;
  min-width: 280px;
  height: 340px;
  flex: 1 0 auto;
  border: 3px solid #6de893;
  border-radius: 20px;
  background: rgba(8, 19, 41, 0.5);
  transition: 0.5s all;
  cursor: pointer;
}
.card_heart {
  position: absolute;
  top: 20px;
  left: 20px;
}
.card:hover {
  border-color: #06ea4e;
  background-color: rgba(8, 19, 41, 0.7);
  box-shadow: 0px 10px 25px 0px #06ea4e;
  color: #06ea4e;
}
.card:hover .card_info h2 {
  color: #06ea4e;
}
.card:hover .card_info_img {
  border-color: #06ea4e;
}
.card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card_info h2 {
  width: 200px;
  margin-top: 0 !important;
  transition: 0.5s all;
  display: flex;
  justify-content: center;
  color: #6de893;
}
.card_info_img {
  transition: 0.5s all;
  border: 4px solid #6de893;
  max-width: 200px;
  max-height: 200px;
}
