.container {
  font-family: "Bricolage Grotesque", sans-serif;
  margin: 0;
}
.container_modals {
  margin: 20px auto 0px;
  display: flex;
  flex-flow: row wrap;
  width: 95vw;
  gap: 20px;
  justify-content: space-around;
}
