.modal {
  white-space: pre-line;
  cursor: auto;
  position: fixed;
  width: max-content;
  height: max-content;
  background: rgba(8, 19, 41, 0.7);
  border: 4px solid #06ea4e;
  box-shadow: 0px 10px 40px 10px #f9337b;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  color: #06ea4e;
  font-size: 25px;
  font-weight: 700;
}
.modal_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-end;
}
.modal_box_submit_btns {
  display: flex;
  flex-direction: row;
}
.modal_box_submit_btns_submit {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  border: 2px solid #6de893;
  background: #4da16859;
  border-radius: 5px;
  color: #6de893;
  padding: 5px 20px;
  font-size: 18px;
  transition: all 1s;
  cursor: pointer;
}
.modal_box_submit_btns_submit:hover {
  border: 2px solid #06ea4e;
  color: #06ea4e;
  transition: all 1s;
}
