.content {
  margin-top: 125px;
  position: relative;
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_dot {
  --dot: 3.2vmin;
  background: radial-gradient(circle at 50% calc(5vmin + 2px), #6de893 var(--dot), #fff0 calc(var(--dot) + 2px));
  position: absolute;
  width: 100%;
  height: 75%;
  animation: spin 1.5s cubic-bezier(0.4, 0, 0.2, 1) 0s infinite;
}
.content_dot:nth-child(2) {
  --dot: 3vmin;
  animation-delay: 0.05s;
}
.content_dot:nth-child(3) {
  --dot: 2.5vmin;
  animation-delay: 0.1s;
}
.content_dot:nth-child(4) {
  --dot: 2vmin;
  animation-delay: 0.15s;
}
.content_dot:nth-child(5) {
  --dot: 1.5vmin;
  animation-delay: 0.2s;
}
.content_dot:nth-child(6) {
  --dot: 1vmin;
  animation-delay: 0.25s;
}
.content_dot:nth-child(7) {
  --dot: 0.5vmin;
  animation-delay: 0.3s;
}
@keyframes spin {
  0%,
  20% {
    transform: rotate(0deg);
    filter: drop-shadow(0 0 0 #4da16859);
  }
  60% {
    filter: drop-shadow(-0.25vmin 0 0 #4da16859) drop-shadow(-0.25vmin 0 0 #4da16859) drop-shadow(-0.25vmin 0 0 #4da16859);
  }
  100% {
    transform: rotate(360deg);
    filter: drop-shadow(0 0 0 #4da16859);
  }
}
