.box {
  position: fixed;
  left: 0px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.box_label {
  background: rgba(178, 1, 1, 0.5);
  height: 8%;
  width: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 24px;
  font-weight: 600;
  border-radius: 20px;
  border: 2px solid red;
  color: red;
}
