.box {
  cursor: auto;
  position: fixed;
  width: 580px;
  height: max-content;
  background: rgba(8, 19, 41, 0.7);
  border: 4px solid #06ea4e;
  border-radius: 10px;
  box-shadow: 0px 10px 75px 0px #6de893;
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
}
.box_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.box_info img {
  border: 4px solid #06ea4e;
}
.box_info_modal {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
